__pycache__/*
logs/*
.DS_Store
venv/*
*.log
.idea/*
external-examples/*
fuzz/*
Experiments/*
error/*
*.eval
*.gramdict
Tmp/*
Crash/*
SLForge/
mdl/*
nodejs/
tinyc/
curl/
micro-benchmarks/
*.txt
*.xlsx
.vscode/*
slog*
tlog*
runmicro*
runls6*